﻿<body ng-app="MyApp">
    <div ng-controller="PostsCtrl">
        <table ng-repeat="post in posts" border="1">
            <tr>
                <td>{{post.ID}}</td>
                <td>{{post.Name}}</td>
                <td>{{post.Price}}</td>
                <td>{{post.Category}}</td>
            </tr>

        </table>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script>


    var app = angular.module("MyApp", []);

    app.controller("PostsCtrl", function ($scope, $http) {
        $http.get('http://localhost:56455/api/product').
          success(function (data, status, headers, config) {
              $scope.posts = data;
              alert(data);
              alert(data.data.ID);
          }).
          error(function (data, status, headers, config) {
              // log error
              alert("erro");
          });
    });
</script>